attrs==23.1.0
bidict==0.22.1
contourpy==1.0.7
cycler==0.11.0
fonttools==4.39.4
funcy==1.18
kiwisolver==1.4.4
lab==7.3
matplotlib==3.7.1
networkx==3.1
numpy==1.24.3
packaging==23.1
pandas==2.0.1
Pillow==9.5.0
py-aiger==6.2.1
py-aiger-cnf==5.0.7
pyapproxmc==4.1.14
pyparsing==3.0.9
pypblib==0.0.4
pyrsistent==0.19.3
python-dateutil==2.8.2
python-sat==0.1.8.dev3
pytz==2023.3
scipy==1.10.1
simplejson==3.19.1
six==1.16.0
sortedcontainers==2.4.0
toposort==1.10
tqdm==4.65.0
txt2tags==3.8
tzdata==2023.3
